<!-- <div *ngFor="let usage of cpuUsage" class="mb-4">
  <div>
    <h3>{{ usage.instance }}</h3>
    <ul>
      <li>CPU Usage: {{ usage.usage.toFixed(1) }}%</li>
      <li>
        RAM Usage:
        <span *ngIf="ramUsage.length > 0">
          {{ getRamUsageForInstance(usage.instance).toFixed(1) }}%
        </span>
        <span *ngIf="ramUsage.length === 0">Data tidak tersedia</span>
      </li>
      <li>Network Usage:
        <span *ngIf="networkUsage.length > 0">
          {{ (getNetworkUsageForInstance(usage.instance).download +
          getNetworkUsageForInstance(usage.instance).upload).toFixed(1) }} MB/s
        </span>
        <span *ngIf="networkUsage.length === 0">Data tidak tersedia</span>
      </li>

      <li>Disk Usage: {{ getDiskUsageForInstance(usage.instance).toFixed(1) }} GiB</li>
      <li>Uptime: {{ getUptimeForInstance(usage.instance) }}</li>
    </ul>
  </div>
</div> -->

<div class=" h-[100vh] flex p-5 scale-90 xl:-translate-y-8">
  <div class="bg-white shadow-lg border h-fit p-5 m-auto rounded-md">
    <h1 class="font-medium text-2xl">Generate PDF</h1>
    <p class="opacity-75">Fitur ini berfungsi untuk mencetak / mengenerate data laporan penggunaan server</p>
    <form class="flex flex-col mt-5 gap-3" [formGroup]="Form">
      <div>
        <label for="shift">Shift :</label>
        <textarea formControlName="shift" name="shift" id="" placeholder="Shift"
          class="py-2 px-2 border-2 rounded w-full mt-2"></textarea>
        <div *ngIf="Form.get('shift')?.invalid && Form.get('shift')?.touched">
          <small class="text-red-500">Shift is required</small>
        </div>
      </div>

      <div>
        <label for="Issue">Issue / Request from internal :</label>
        <textarea formControlName="issue" name="Issue" id="" placeholder="Issue / Request from internal"
          class="py-2 px-2 border-2 rounded w-full mt-2"></textarea>
        <div *ngIf="Form.get('issue')?.invalid && Form.get('issue')?.touched">
          <small class="text-red-500">Issue is required</small>
        </div>
      </div>

      <div>
        <label for="Ticketing Open">Ticketing Open :</label>
        <textarea formControlName="ticket" name="Ticketing Open" id="" placeholder="Ticketing Open"
          class="py-2 px-2 border-2 rounded w-full mt-2"></textarea>
        <div *ngIf="Form.get('ticket')?.invalid && Form.get('ticket')?.touched">
          <small class="text-red-500">Ticketing is required</small>
        </div>
      </div>

      <div>
        <label for="Activity">Activity :</label>
        <textarea formControlName="activity" name="Activity" id="" placeholder="Activity"
          class="py-2 px-2 border-2 rounded w-full mt-2"></textarea>
        <div *ngIf="Form.get('activity')?.invalid && Form.get('activity')?.touched">
          <small class="text-red-500">Activity is required</small>
        </div>
      </div>

      <div>
        <label for="Reminder">Reminder :</label>
        <textarea formControlName="reminder" name="Reminder" id="" placeholder="Reminder"
          class="py-2 px-2 border-2 rounded w-full mt-2"></textarea>
        <div *ngIf="Form.get('reminder')?.invalid && Form.get('reminder')?.touched">
          <small class="text-red-500">Reminder is required</small>
        </div>
      </div>


      <button class="w-full rounded-full font-medium text-white bg-green-500 p-2 hover:bg-green-600"
        (click)="generatePDF()">Generate PDF</button>
    </form>
    <button class="w-full rounded-full mt-2 font-medium text-white bg-blue-500 p-2 hover:bg-blue-600"
      (click)="sendTele()">Chat Telegram</button>
  </div>
</div>